data/*
resources/*
!resources/target_genes.txt
!resources/ploidy_rules.txt
results/*
work

.git
.gitignore
.github

.snakemake
.nextflow*

*.md
*.txt
!resources/target_genes.txt
!resources/ploidy_rules.txt
*.sif
*.log*
