# Python
__pycache__/
*.pyc

# Snakemake
.snakemake/

# Outputs
results*

# Resources (except targets and pypgx genes)
resources/
!resources/targets.bed
!resources/pypgx_genes.txt

# Data
data/*

# Generated VCFs and indices
*.vcf.gz
*.vcf.gz.csi
*.bcf
*.bcf.csi

# Logs
*.log*

# nextflow work dir
work/

# nextflow logs and cache
.nextflow* 
